# Desk Side Toolkit - shared-drive location
#
# Rename this file to  share.txt  and put the path to the shared copy of the
# toolkit on the one line below (delete the leading # first). Lines starting
# with # are ignored.
#
# Examples:
#   \\fileserver\IT\DeskSideToolkit
#   Z:\DeskSideToolkit
#
# \\server\share\DeskSideToolkit
